# Node
node_modules/
.env
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/

# Django
staticfiles/
media/

# Frontend
frontend/dist/
frontend/node_modules/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
